.sub-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 37.5px;
    width: 103px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .sub-button:hover {
    opacity: 0.7;
  }
  .sub-button:active {
    opacity: 0.4;

  }
  .join-button {
    background-color: white;
    color: rgb(20, 111, 215);
    border: rgb(20, 111, 215) 1px solid;
    height: 37.5px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    vertical-align: top;
  }

  .join-button:hover {
    background-color: rgb(20, 111, 215);
    color: white;
    transition: 0.2s;
  }
  .join-button:active {
    opacity: 0.6;
  }

  .tweet-button {
    background-color: rgb(29, 161, 242);
    color: white;
    border: none;
    height: 37.5px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    font-weight: bold;
    transition: 0.35s;
    vertical-align: top;
  }

  .tweet-button:hover {
    box-shadow: -1px 5px 10px rgb(196, 203, 214);
  }