.uber-button {
    background-color: black;
    height: 40px;
    width: 150px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  .amazon-button {
    background-color: rgb(255, 216, 20);
    height: 40px;
    width: 200px;
    border: none;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
  }

  .github-button {
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }

  
  .get-started-button {
    background-color: rgb(86, 61, 124);
    color: white;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-right: 8px;
  }
  .download-bootstrap {
    background-color: white;
    color: grey;
    border: grey 1px solid;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
  }

  
  .apply-button {
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
    font-weight: 800;
  }
  .save-button {
    background-color: white;
    color: rgb(10, 102, 194);
    border: rgb(10, 102, 194) 1px solid;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
  }