.back {
    color: rgb(0, 113, 133);
    background-color: white;
    border: none;
    height: 30px;
    width: 150px;
    cursor: pointer;
    font-size: 20px;
  }

  .price {
    color: rgb(0,118,0);
    font-size: 20px;
    font-weight: bold;
  }

  .add-to-cart-button {
    background-color: rgb(255, 216, 20);
    height: 40px;
    width: 200px;
    border: none;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
  }

  .buy-now-button {
    background-color: rgb(255, 164, 28);
    height: 40px;
    width: 200px;
    border: none;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
  }