  .sub-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 37.5px;
    width: 103px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 8px;
  }

  .join-button {
    background-color: white;
    color: rgb(20, 111, 215);
    border: rgb(20, 111, 215) 1px solid;
    height: 37.5px;
    width: 62px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
  }

  .tweet-button {
    background-color: rgb(29, 161, 242);
    color: white;
    border: none;
    height: 37.5px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
    font-weight: bold;
  }