.flexbox {
  display: flex;
  flex-direction:row;
  height:50px;
}

.c1 {
  background-color: lightpink;
  width:100px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item1 {
  background-color: black;
  color: white
}

.c2 {
  background-color: lightblue;
  width:200px;
}