.flexbox {
  display: flex;
  flex-direction: row;
  height:50px;
}

.c1 {
  background-color: lightpink;
  width:100px;
}

.c2 {
  background-color: lightblue;
  width:200px;

}

.r2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.r2-item {
  background-color: black;
  color:white;

}