.box {
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
  padding: 10px 16px;
  font-family:Roboto,Arial;
  width: 389px;
  height:250px;
}

.all-inboxes {
  font-size:14px;
  color: grey;
  margin-bottom:24px;
}

.mail {
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
}

.pic {
  margin-top: 8px;
}

.profile-picture {
  width:45px;
  height:45px;
  border-radius:25px;
  object-fit: cover;
  object-position: center;
}

.information {
  margin-left: 10px;
  width:350px;
}

.recepient-and-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recepient {
font-size: 18px;
font-weight: bold;
}

.time {
  font-size: 14px;
  color: grey;

}

.subject {
  font-weight:bold;
}

.message {
  color:rgb(134, 134, 134);
}

