.box {
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
  padding: 10px 16px;
  font-family:Roboto,Arial;
}

.all-inboxes {
  font-size:14px;
  color: grey;
  margin-bottom:18px;

}

.mail {

}

.profile-picture {

}

.information {

}

.recepient-and-time {

}

.recepient {
font-size: 
}

.time {

}

.subject {
  font-weight:bold
}

.message {
  color:rgb(181, 181, 181);
}

