p {
    font-family: Arial;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .video-title {
    font-weight: bold;
    font-size: 18px;
    width: 300px;
    line-height: 24px
  }

  .video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 4px
  }

  .video-author {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 20px;
  }

  .video-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 300px;
    line-height: 18px;
    margin-top: 20px;
    margin-bottom: 100px;
  }

  .apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .shop-link {
    cursor: pointer;
  }

  .shop-link:hover {
    text-decoration: underline;
  }