.header {
  height:40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  background-color: lightblue;
  width:150px;
  display:flex;
  align-items:center;
}

.middle-section {
  background-color: lightpink;
  flex: 1;
  margin-right: 50px;
  margin-left: 70px;
  max-width: 500px;
}

.right-section {
  background-color: lightblue;
  width: 200px;
}

.hamburger-menu {
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}
.youtube-logo {
  height: 20px;
}