.header {
  height:40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  background-color: lightblue;
  width:150px;
}

.middle-section {
  background-color: lightpink;
  flex: 1;
  margin-right: 50px;
  margin-left: 70px;
  max-width: 500px;
}

.right-section {
  background-color: lightblue;
  width: 200px;
}