.header {
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-section {
  display:flex;
  align-items:center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-right: 50px;
  margin-left: 70px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex:1;
  height:36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 60px;
}

.voice-search-button {
  height: 40px;
  width: 60px;
}

.right-section {
  background-color: lightblue;
  width: 200px;
}
