.header {
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position:fixed;
  top:0;
  left:0;
  right:0;

  background-color: white;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.left-section {
  display:flex;
  align-items:center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-right: 50px;
  margin-left: 70px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex:1;
  height:36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  width:0;
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button {
  height: 39px;
  width: 66px;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon {
  height: 25px;
  margin-top:4px
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border:none;
  border-radius: 20px;
  padding: 8px 8px;
  background-color: rgb(245, 245, 245);
}

.voice-search-icon {
  height: 24px;
} 

.right-section {
  width: 180px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon {
  height: 24px;
}

.youtube-apps-icon {
  height: 24px;
}

.notifications-icon {
  height: 24px;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
}